<head>
        <title>Financial Times</title>
        <link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-colors@^4.2.3,o-header@^7.3.0" />
        <script src="https://build.origami.ft.com/v2/bundles/js?modules=o-colors@^4.2.3,o-fonts@^3.0.4,o-header@^7.3.0"></script>
        <link rel='stylesheet' href='stylesheets/style.css' />  
      </head>

<header class="o-header" data-o-component="o-header" data-o-header--no-js="">
        <div class="o-header__row o-header__top">
          <div class="o-header__container">
            <div class="o-header__top-wrapper">
              <div class="o-header__top-column o-header__top-column--center">
                <a class="o-header__top-logo" href="/" title="Go to Financial Times homepage">
                  <span class="o-header__visually-hidden">Financial Times</span>
                </a>
              </div>
            </div>
          </div>
        </div>
    
        <nav id="o-header-nav-desktop" class="o-header__row o-header__nav o-header__nav--desktop" role="navigation" aria-label="Main navigation">
          <div class="o-header__container">
            <ul class="o-header__nav-list o-header__nav-list--left">
              <li class="o-header__nav-item">
                <a class="o-header__nav-link o-header__nav-link--primary" href="/" aria-label="Home" aria-current="page" id="o-header-link-">Home</a>
              </li>
              <li class="o-header__nav-item">
                <a class="o-header__nav-link o-header__nav-link--primary" href="/ratings/all" id="o-header-link-">All Ratings</a>
              </li>
            </ul>
        </nav>
      </header>