<!DOCTYPE html>
<html>



<body>
  <header>
      <% include partials/header %>
  </header>

   
  
  <div id="smilie" >

    <h2>Please rate our website</h2>
  <form action="/ratings" method="post">

    <button name="score" value="4" type="submit" class="rating-button">
      <img src="images/veryhappy.png">
    </button>
    <button name="score" value="3" type="submit" class="rating-button">
      <img src="images/happy.png">
    </button>
    <button name="score" value="2" type="submit" class="rating-button">
      <img src="images/neutral.png">
    </button>
    <button name="score" value="1" type="submit" class="rating-button">
      <img src="images/nothappy.png">
    </button>
  </form>

</div>

  <% if(typeof error_message !== "undefined") { %>
    <p>
      <%= error_message %>
    </p>
    <% } %>
</body>

</html>