<!DOCTYPE html>
<html>

<head>
  <title>Financial Times</title>
  <link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-colors@^4.2.3" />
  <script src="https://build.origami.ft.com/v2/bundles/js?modules=o-colors@^4.2.3,o-fonts@^3.0.4"></script>
  <link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body>
  <h1>Financial Times</h1>
  <h3>Please rate our website</h3>
  <form action="/ratings" method="post">
    <button name="score" value="1" type="submit" class="rating-button">Needs Improvement</button>
    <button name="score" value="2" type="submit" class="rating-button">Neutral</button>
    <button name="score" value="3" type="submit" class="rating-button">Happy</button>
    <button name="score" value="4" type="submit" class="rating-button">Very Happy</button>
  </form>
  <% if(typeof error_message !== "undefined") { %>
    <p><%= error_message %></p>
  <% } %>
</body>

</html>