<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-colors@^4.2.3" />
  <script src="https://build.origami.ft.com/v2/bundles/js?modules=o-colors@^4.2.3,o-fonts@^3.0.4"></script>
  <link rel='stylesheet' href='stylesheets/style.css' />

<p>
    The page you are looking for doesn't exist; while you are here why not <a href="/">rate FT website? :)</a>
</p>