
<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-colors@^4.2.3" />
<script src="https://build.origami.ft.com/v2/bundles/js?modules=o-colors@^4.2.3,o-fonts@^3.0.4"></script>
<link rel='stylesheet' href='stylesheets/style.css' />

<h2>Thanks for rating!</h2>